.coin-presentation {
    .logo-coin {
        display: flex;
        justify-content: space-between;
        margin: 0 30px;

        img {
            margin-left: 15px;
        }

        p {
            color: $white1;
        }

        .home-btn {
            cursor: pointer;
        }

        h1 {
            color: $color1;
            font-size: 3rem;

            @media screen and (max-width: 420px) {
                font-size: 2rem;
            }
        }
    }

    h2 {
        margin: 40px 10px 0px 40px;
        font-size: 3rem;
        border-bottom: 3px solid $white1;
        max-width: 255px;

        @media screen and (max-width: 1437px) {
            font-size: 2rem;
            max-width: 170px;
            margin-left: 10px;
        }
    }

    .graphs {
        padding: 10px 10px;
        margin: 4px 0;

        @media screen and (max-width: 1437px) {
            margin: 20px 0 0 0;
        }
       
        .presentation-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            opacity: 0;
            transition: .3s;

            .text-presentation {
                max-width: 700px;
                text-align: justify;
                padding-top: 60px;

                h4 {
                    margin-bottom: 50px;
                    font-size: 1.5rem;

                    @media screen and (max-width: 1280px) {
                        margin-bottom: 20px;
                    }
                }

                @media screen and (max-width: 1280px) {
                    padding-top: 0;
                }
            }
        }
        .graph {
            max-width: 700px;
            margin: 50px 10px;
            background: rgb(22, 20, 20);
            border-radius: 10px;

            @media screen and (max-width: 1437px) {
                margin: 10px 0 50px 0;
            }
    
            h4 {
                font-weight: bold;
                font-size: 1.5rem;
                text-align: center;
            }
    
            .btn-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                
                .filter {
                    border-radius: 10px;
                    padding: 0 10px;
                    cursor: pointer;
                    transition: .5s;
                }

                .filter.filter-active {
                    background: $color1;
                }
            }
        }
    
    }
}

